*.o
*.bin
*.lst
*.out
*.elf
*.so
*.a
*.exe
*.i
*.d
*.map
out.s

build
temp

Cargo.lock
rust/**/target

*.pyc
__pycache__


**/.vscode/*
!**/.vscode/launch.json

.venv
Pipfile.lock
.backup
output*
out*
password


linux*.tar.gz
*.img
initrd


package-lock.json

.sconsign.dblite
.python-version
node_modules
yarn.lock
