*.o
*.bin
*.lst
*.out
*.so
*.a
*.exe
*.i
*.d
*.map
out.s

build

*.pyc
__pycache__


.vscode
.venv
Pipfile.lock
.backup
output*
password


linux*.tar.gz
*.img
initrd


package-lock.json

.sconsign.dblite
