[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
# PIPENV_IGNORE_VIRTUALENVS = 1
# PIPENV_VERBOSITY = 3

[dev-packages]
pylint = "*"

[packages]
flask-dramatiq = "*"
flask = "*"
dramatiq = {extras = ["rabbitmq", "redis", "watch"],version = "*"}
requests = "*"

[requires]
python_version = "3.7"
