[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask-dramatiq = "*"
flask = "*"
dramatiq = {extras = ["rabbitmq", "redis", "watch"],version = "*"}
requests = "*"
flask-restful = "*"

[requires]
python_version = "3.7"
